<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project Not Found</title>
</head>

<body>
    <h1>404 - Project Not Found</h1>
    <p>Sorry that this project is not available.</p>
    <p>Possible reasons include:</p>
    <ul>
        <li>The project is really old and many dependencies have vulnerabilities.</li>
        <li>I forgot to set it up.</li>
        <li>The server is temporarily unavailable</li>
    </ul>
    <p>However, all is not lost. You can visit my GitHub below and all projects will be available there.</p>
    <p><a href="https://github.com/rafaelolal?tab=repositories" target="_blank" rel="noopener noreferrer">My GitHub
            Repositories</a></p>
    <a href="/">Return Home</a>
</body>

</html>