<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project Not Found</title>
</head>

<body>
    <h1>404 - Project Not Found</h1>

    <p>Sorry that this project is not available. The project is probably old with broken dependencies or excuse me if I
        forgot to set it up.</p>

    <p>However, all is not lost. You can visit my <a href="https://github.com/rafaelolal?tab=repositories"
            target="_blank" rel="noopener noreferrer">GitHub</a> and all my projects should be there.</p>

    <p><a href="/">Return Home</a></p>
</body>

</html>