<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Internal Server Error</title>
</head>

<body>
    <h1>500 - Internal Server Error</h1>

    <p>I set this server up all by myself on an Oracle VM. Excuse me if I did something wrong.</p>

    <p>But don't fret. If you are important to me (a recruiter), please send an email to <a
            href="mailto:portfolio@ralmeida.dev">portfolio@ralmeida.dev</a>, and I will get you the information you
        need!
    </p>

    <p>Also, you can visit my <a href="https://github.com/rafaelolal?tab=repositories" target="_blank"
            rel="noopener noreferrer">GitHub</a> and all projects will be available there.</p>

    <p><a href="/">Return Home</a></p>
</body>

</html>