{% extends "base.html" %}
{% block meta_description %}
    {{ page.description }}
{% endblock meta_description %}
{% block meta_keywords %}
    {{ page.keywords }}
{% endblock meta_keywords %}
{% block title %}
    {{ page.name }}
{% endblock title %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <img src="{{ object.images.first.image.url }}"
         alt="{{ object.images.first.description }}"
         height="500px"
         width="auto">
    <small><a href="{% url 'image_list' %}">Gallery</a></small>
    <h2>About</h2>
    <small>Last update: {{ object.updated_at }}</small>
    <p>{{ object.description }}</p>
    <h2>Interests</h2>
    <p>{{ object.interests }}</p>
    <h2>Doing Now</h2>
    <p>{{ object.doing_now }}</p>
{% endblock content %}
