{% load filters %}

<div id="{{ award.name|slugify }}">
    {% if award.name %}
    <h2 style="font-size: 2em;">{{ award.name }}</h2>
    {% endif %}

    {% if award.association %}
    <p>{{ award.association }}</p>
    {% endif %}

    {% if award.issuer and award.issuer != award.association %}
    <p>{{ award.issuer }}</p>
    {% endif %}

    {% if award.start_month and award.start_year %}
    <p>
        {% if award.start_month %}{{ award.start_month|month_name }}{% endif %}
        {{ award.start_year }}
    </p>
    {% endif %}

    {% if award.skills.all %}
    <div style="">
        <ul style="list-style: none; padding-left: 0px;">
            {% for skill in award.skills.all %}
            <li style="display: inline-block; margin-right: 0.5rem;">{{ skill.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if award.description %}
    <p>{{ award.description }}</p>
    {% endif %}

    {% if award.images.all %}
    <div>
        {% for image in award.images.all %}
        {% if image.image %}
        <img height="250px" width="auto" src="{{ image.image.url }}" alt="{{ image.description|default:award.name }}">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if award.link %}
    <p><a href="{{ award.link }}" target="_blank">View Award</a></p>
    {% endif %}
</div>