{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Portfolio
        {% endblock title %}
    </title>
</head>

<body>
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Content -->
    <main>
        {% include "filter.html" with model_name=model_name %}
        {% block content %}
        {% endblock content %}
    </main>
</body>

<style>
    /* remove default margin and padding */
    body, h1, h2, h3 {
        margin: 0;
        padding: 0;
    }

</style>

</html>