{% extends "base.html" %}
{% block meta_description %}
    {{ page.description }}
{% endblock meta_description %}
{% block meta_keywords %}
    {{ page.keywords }}
{% endblock meta_keywords %}
{% block title %}
    {{ page.name }}
{% endblock title %}
{% block content %}
    <h1 class="mb-4">Contact</h1>
    <p>
        Email: <a href="mailto:{{ object.email }}">{{ object.email }}</a>
    </p>
    <p>
        GitHub: <a href="{{ object.github }}" target="_blank">rafaelolal</a>
    </p>
    <p>
        LinkedIn: <a href="{{ object.linkedin }}" target="_blank">rafaelolal</a>
    </p>
{% endblock content %}
