{% load filters %}

<div id="{{ course.name|slugify }}">
    {% if course.name %}
    <h2 style="font-size: 2em">{{ course.name }}</h2>
    {% endif %}

    {% if course.association %}
    <p>{{ course.association }}</p>
    {% endif %}


    {% if course.start_year or course.end_year %}
    <p>
        {% if course.start_month %}{{ course.get_start_month_display }}{% endif %}
        {{ course.start_year }}
        {% if course.end_year %}
        -
        {% if course.end_month %}{{ course.get_end_month_display }}{% endif %}
        {{ course.end_year }}
        {% endif %}
    </p>
    {% endif %}

    {% if course.skills.all %}
    <div style="">
        <ul style="list-style: none; padding-left: 0px;">
            {% for skill in course.skills.all %}
            <li style="display: inline-block; margin-right: 0.5rem">{{ skill.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if course.description %}
    <p>{{ course.description }}</p>
    {% endif %}



    {% if course.images.all %}
    <div>
        {% for image in course.images.all %}
        {% if image.image %}
        <img height="250px" width="auto" src="{{ image.image.url }}" alt="{{ image.name }}">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if course.link %}
    <p><a href="{{ course.link }}">Course Link</a></p>
    {% endif %}
</div>