{% extends "base.html" %}
{% load filters %}
{% block meta_description %}
{{ page.description }}
{% endblock meta_description %}
{% block meta_keywords %}
{{ page.keywords }}
{% endblock meta_keywords %}
{% block title %}
{{ page.name }}
{% endblock title %}
{% block content %}
<div style="padding: 1em;">
    {% if page.name == "Projects" %}
        <div style="background-color: #f0f0f0; border: 2px solid #333; border-radius: 8px; padding: 0.5em; margin-bottom: 1em; display: inline-block;">
            <p style="margin: 0;">I am constantly working on new projects, but I honestly don't update this page as much as I should. If you're not satisfied by these, please visit my <a href="{{ about.github }}" target="_blank">GitHub</a>.</p>
        </div>

    {% endif %}
    {% if not objects %}
    Hmmm, it seems this list is empty 🤔
    {% else %}
    {% for object in objects %}
    <div>
        {% if object|class_name == "Project" %}
        {% include "project.html" with project=object %}
        {% elif object|class_name == "Certificate" %}
        {% include "certificate.html" with certificate=object %}
        {% elif object|class_name == "Skill" %}
        {% include "skill.html" with skill=object %}
        {% elif object|class_name == "Award" %}
        {% include "award.html" with award=object %}
        {% elif object|class_name == "Course" %}
        {% include "course.html" with course=object %}
        {% elif object|class_name == "Image" %}
        {% include "image.html" with image=course %}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    <div>
        {% endblock content %}