<!-- Beware, this code is chat generated! -->

<div id="{{ project.name|slugify }}" style="">
    {% if project.name %}
    <h2 style="font-size: 2em">{{ project.name }}</h2>
    {% endif %}

    {% if project.association %}
    <p>{{ project.association }}</p>
    {% endif %}


    {% if project.start_year or project.end_year %}
    <p>
        {% if project.start_month %}{{ project.get_start_month_display }}{% endif %}
        {{ project.start_year }}
        {% if project.end_year %}
        -
        {% if project.end_month %}{{ project.get_end_month_display }}{% endif %}
        {{ project.end_year }}
        {% endif %}
    </p>
    {% endif %}

    {% if project.skills.all %}
    <div style="">
        <ul style="list-style: none; padding-left: 0px;">
            {% for skill in project.skills.all %}
            <li style="display: inline-block; margin-right: 0.5rem">{{ skill.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if project.description %}
    <p>{{ project.description }}</p>
    {% endif %}



    {% if project.images.all %}
    <div>
        {% for image in project.images.all %}
        {% if image.image %}
        <img height="250px" width="auto" src="{{ image.image.url }}" alt="{{ image.name }}">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    <p>{% if project.link %} <a href="{{ project.link }}">Project Link</a>{% endif %} {% if project.github_repo %}<a
            href="{{ project.github_repo }}">GitHub Repository</a>{% endif %}</p>

</div>